.c-header{
    background:#4f97bd url(../../images/header.jpg) repeat top left;
    padding-top:14px;
    position:relative;
    z-index:999;
    -moz-box-shadow: 0px 1px 2px #255f7e;
    -webkit-box-shadow: 0px 1px 2px #255f7e;
    box-shadow: 0px 1px 2px #255f7e;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {
    margin: 0;
    padding: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
body{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight:400;
    color:#454545;
}
.logo{
    background: url("../../images/logo.png") no-repeat 0px 0px;
    height: 60px;
}
.inner{
    max-width: 1234px;
    margin:0px auto;
}