.in-line {
  display: inline;
}
.font-red {
  color: #e4393c;
}
.topbar-height {
  min-height: 30px;
}
.header-hot {
  margin-top: 2px;
  margin-left: 2px;
  padding-top: 2px;
}
.header-hotword .list-inline > li:first-child a {
  color: #e4393c;
}
.header-hotword {
  color: #999999;
  margin-top: 6px;
}
.logo-search {
  margin-bottom: 10px;
}
.list-inline > li > a:hover,
.list-inline > li > a:focus {
  color: #e4393c;
  text-decoration: underline;
  cursor: auto;
}
.topnavbar {
  background: #F7F7F7;
  border-bottom: 1px solid #eee;
  color: #999999;
}
.header {
  margin-top: 15px;
}
.welcomeback,
.topinfor > ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-font,
.navbar-header {
  font-size: 15px;
  font-weight: 700;
}
.nav-font > li > a {
  width: 85px;
  text-align: center;
}
.navbar-header {
  width: 300px;
}
.carousel {
  height: 240px;
  width: 670px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 240px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 240px;
}
.nav-sidbar {
  width: 200px;
}
.nav-sidbar .nav {
  background-color: #f8f8f8;
}
.nav-sidbar .nav li {
  border-bottom: 1px dashed #FAE5E7;
  font-size: 14px;
}
.nav-sidbar .nav .active > a {
  color: #e4393c;
  border-right: 1px solid #e4393c;
  font-weight: bold;
}
.nav-sidbar.affix {
  top: 80px;
}
.middle-content {
  margin-left: 210px;
}
.floor .tab-content .tab-pane {
  height: 360px;
}
