.in-line {
  display: inline;
}
.font-red {
  color: #ff0000;
}
.topbar-height {
  min-height: 30px;
}
.header-hot {
  margin-top: 2px;
  margin-left: 2px;
  padding-top: 2px;
}
.header-hotword .list-inline > li:first-child a {
  color: #ff0000;
}
.header-hotword {
  color: #999999;
}
.list-inline > li > a {
  color: #999999;
}
.list-inline > li > a:hover,
.list-inline > li > a:focus {
  color: #ff0000;
  text-decoration: underline;
  cursor: auto;
}
.topnavbar {
  background: #F7F7F7;
  border-bottom: 1px solid #eee;
}
.header {
  margin-top: 15px;
}
.welcomeback,
.topinfor ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}
