.nav-list {
  position: relative;
  background-color: #f8f8f8;
  width: 210px;
  z-index: 0;
  padding-bottom: 12px;
}
.nav-list .nav-style {
  position: absolute;
  width: 218px;
  height: 40px;
  margin-left: -8px;
  background-color: #ffffff;
  z-index: -1;
}
.nav-list .nav-style .nav-label {
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: #e4393c;
}
.nav-list .nav-list-group {
  margin-bottom: 0;
  padding-left: 0;
}
.nav-list .nav-list-group .nav-list-item {
  display: block;
  padding: 10px 15px 10px 26px;
  border-bottom: 1px solid #ffffff;
  margin: 0 20px;
}
.nav-list .nav-list-group .nav-list-item.title {
  background-color: #e4393c;
  color: #ffffff;
  font-size: 14px;
  padding-left: 15px;
  font-weight: 700;
  margin: 0 0;
  border-width: 0;
}
.nav-list .nav-list-group .nav-list-item.category {
  padding-left: 15px;
  font-weight: 700;
}
.nav-list .nav-list-group .nav-list-item.category.active {
  color: #e4393c;
}
.nav-list .nav-list-group .nav-list-item.active a {
  color: #e4393c;
}
.nav-list .nav-list-group .nav-list-item a {
  color: #555555;
  display: block;
}
.nav-list .nav-list-group .nav-list-item a:hover {
  text-decoration: none;
  color: #e4393c;
}
