.topbar-height {
  min-height: 30px;
}
.topnavbar {
  background: #F7F7F7;
  border-bottom: 1px solid #eee;
  color: #999999;
}
.welcomeback,
.topinfor > ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-hot {
  margin-top: 2px;
  margin-left: 2px;
  padding-top: 2px;
}
.header-hotword .list-inline > li:first-child a {
  color: #e4393c;
}
.header-hotword {
  color: #999999;
  margin-top: 6px;
}
.logo-search {
  margin-bottom: 10px;
}
.header {
  margin-top: 15px;
}
.nav-font,
.navbar-header {
  font-size: 15px;
  font-weight: 700;
}
.nav-font > li > a {
  width: 85px;
  text-align: center;
}
.navbar-header {
  width: 300px;
}
.carousel {
  height: 240px;
  width: 670px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 240px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 240px;
}
.floor .each-floor {
  padding-top: 16px;
  padding-bottom: 16px;
}
.floor .each-floor:before,
.floor .each-floor:after {
  content: " ";
  display: table;
}
.floor .each-floor:after {
  clear: both;
}
.floor .each-floor .floor-left {
  width: 23%;
  float: left;
}
.floor .each-floor .floor-left .floor-title {
  border-bottom: 2px solid #dddddd;
}
.floor .each-floor .floor-left .floor-title .floor-sign {
  background-image: url(/images/floorBackground.png);
  width: 30px;
  height: 38px;
  background-position: -40px 0;
  color: #fff;
  padding-top: 4px;
  font-size: 16px;
  padding-left: 4px;
  font-weight: 700;
  float: left;
}
.floor .each-floor .floor-left .floor-title .floor-title-text {
  padding: 10px 100px 0;
  font-size: 18px;
  font-weight: 700;
}
.floor .each-floor .floor-left .floor-title:before,
.floor .each-floor .floor-left .floor-title:after {
  content: " ";
  display: table;
}
.floor .each-floor .floor-left .floor-title:after {
  clear: both;
}
.floor .each-floor .floor-left .floor-left-nav {
  height: auto;
  padding: 0 10px;
  color: #666666;
}
.floor .each-floor .floor-left .floor-left-nav .floor-category {
  min-height: 292px;
  max-height: 292px;
  overflow: hidden;
  padding: 12px 16px;
}
.floor .each-floor .floor-left .floor-left-nav .floor-category ul {
  padding-left: 0;
  display: inline-block;
}
.floor .each-floor .floor-left .floor-left-nav .floor-category ul li {
  width: 90px;
  font-size: 12px;
  line-height: 25px;
  float: left;
  list-style: none;
  font-family: Arial, Verdana, "\5b8b\4f53";
}
.floor .each-floor .floor-center-navtabs {
  float: left;
  width: 70%;
}
.floor .each-floor .floor-center-navtabs .nav-tabs {
  border-bottom-width: 2px;
}
.floor .each-floor .floor-center-navtabs .nav-tabs > li {
  margin-bottom: -2px;
  font-size: 13px;
  font-weight: 700;
}
.floor .each-floor .floor-center-navtabs .tab-content {
  height: auto;
  border-left: 1px solid #dddddd;
  overflow: hidden;
}
.list-each-item {
  width: 230px;
  float: left;
  padding: 12px 16px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.list-each-item .item-img {
  overflow: hidden;
}
.list-each-item .item-img img {
  max-height: 202px;
}
.list-each-item .item-desc {
  word-break: break-all;
  word-wrap: break-word;
  min-height: 34px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.list-each-item .item-price {
  color: #e4393c;
  font-size: 15px;
}
.list-each-item .item-price span {
  font-size: 12px;
}
.recommendation {
  width: 230px;
  padding: 12px 16px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  position: relative;
}
.recommendation .item-img {
  overflow: hidden;
}
.recommendation .item-img img {
  max-height: 202px;
}
.recommendation .item-desc {
  word-break: break-all;
  word-wrap: break-word;
  min-height: 34px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.recommendation .item-price {
  color: #e4393c;
  font-size: 15px;
}
.recommendation .item-price span {
  font-size: 12px;
}
.recommendation .hot-sale .back-img {
  position: absolute;
  left: -8px;
  top: -12px;
  color: #e4393c;
  font-size: 60px;
}
.recommendation .hot-sale .text {
  color: #ffffff;
  position: absolute;
  left: 6px;
  top: 8px;
  font-size: 16px;
  font-weight: 700;
}
.nav-sidbar {
  width: 200px;
}
.nav-sidbar .nav {
  background-color: #f8f8f8;
}
.nav-sidbar .nav li {
  border-bottom: 1px dashed #FAE5E7;
  font-size: 14px;
}
.nav-sidbar .nav .active > a {
  color: #e4393c;
  border-right: 1px solid #e4393c;
  font-weight: bold;
}
.nav-sidbar.affix {
  top: 80px;
}
.footer .footer-nav-link {
  text-align: center;
}
.footer .footer-nav-link .list-inline > li {
  border-right: 1px solid #dddddd;
}
.footer .footer-nav-link .list-inline > li:last-child {
  border-right: 0;
}
.in-line {
  display: inline;
  list-style: none;
}
.font-red {
  color: #e4393c;
}
.inner-middle {
  margin-left: 210px;
}
.list-inline-item {
  padding-left: 0;
  list-style: none;
}
.list-inline-item > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.panel-default-theme .panel-heading {
  color: #ffffff;
  background-color: #e4393c;
  border-color: #e4393c;
}
