.galleria-item {
  float: left;
  height: 350px;
  width: 350px;
}
.galleria-item .galleria-container {
  background: #ffffff;
  border: 1px solid #dddddd;
}
.galleria-item .notouch .galleria-thumb-nav-left,
.galleria-item .notouch .galleria-thumb-nav-right,
.galleria-item .notouch .galleria-thumb-nav-left:hover,
.galleria-item .notouch .galleria-thumb-nav-right:hover {
  background-color: #dddddd;
}
.galleria-item .touch .galleria-thumb-nav-left:active,
.galleria-item .touch .galleria-thumb-nav-right:active {
  background-color: #dddddd;
}
.topbar-height {
  min-height: 30px;
}
.topnavbar {
  background: #F7F7F7;
  border-bottom: 1px solid #eee;
  color: #999999;
}
.welcomeback,
.topinfor > ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-hot {
  margin-top: 2px;
  margin-left: 2px;
  padding-top: 2px;
}
.header-hotword .list-inline > li:first-child a {
  color: #e4393c;
}
.header-hotword {
  color: #999999;
  margin-top: 6px;
}
.logo-search {
  margin-bottom: 10px;
}
.header {
  margin-top: 15px;
}
.nav-font,
.navbar-header {
  font-size: 15px;
  font-weight: 700;
}
.nav-font > li > a {
  width: 85px;
  text-align: center;
}
.navbar-header {
  width: 300px;
}
.footer .footer-nav-link {
  text-align: center;
}
.footer .footer-nav-link .list-inline > li {
  border-right: 1px solid #dddddd;
}
.footer .footer-nav-link .list-inline > li:last-child {
  border-right: 0;
}
.in-line {
  display: inline;
  list-style: none;
}
.font-red {
  color: #e4393c;
}
.checkbox-radio-label {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
}
.checkbox-radio-label input[type='radio'],
.checkbox-radio-label input[type='checkbox'] {
  vertical-align: middle;
  margin: 0 6px 0 0;
}
.inner-middle {
  margin-left: 210px;
}
.list-inline-item {
  padding-left: 0;
  list-style: none;
}
.list-inline-item > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.panel-default-theme .panel-heading {
  color: #ffffff;
  background-color: #e4393c;
  border-color: #e4393c;
}
.item-num {
  position: relative;
  width: 86px;
}
.item-num .input-item-num {
  padding: 6px 26px;
}
.item-num .minux-num {
  position: absolute;
  top: 9px;
  left: 10px;
}
.item-num .plus-num {
  position: absolute;
  top: 9px;
  right: 10px;
}
.index-link {
  color: #e4393c;
  font-size: 14px;
}
.list-group-hover li:hover {
  background: #fff4d3;
}
.asterisk-require {
  color: #e4393c;
  margin-right: 5px;
}
.default-price {
  color: #e4393c;
  font-size: 14px;
}
.clear-padding {
  padding: 0;
}
.money-sign {
  color: #e4393c;
}
.item-select {
  min-height: 400px;
}
.item-info {
  float: left;
  width: 72%;
  padding: 10px 20px;
  max-height: 360px;
  min-height: 280px;
  position: relative;
}
.item-info .item-name {
  border-bottom: 1px dotted #dddddd;
  padding: 5px 0;
  font-size: 16px;
}
.item-info .item-name .name {
  font-weight: 700;
  color: #666666;
}
.item-info .item-name .sale-info {
  color: #e4393c;
}
.item-info .item-desc {
  padding-bottom: 20px;
  padding-top: 15px;
  width: 70%;
  height: 240px;
}
.item-info .item-desc .item-price {
  color: #e4393c;
  font-size: 18px;
  padding-top: 2px;
  font-weight: 700;
}
.item-info .item-desc .control-label {
  font-weight: 300;
}
.item-info .item-desc .service-info {
  color: #e4393c;
}
.item-info .add-cart {
  font-weight: 700;
}
.item-info .item-num {
  position: relative;
}
.item-info .item-num .input-item-num {
  padding: 6px 24px;
}
.item-info .item-num .minux-num {
  position: absolute;
  top: 9px;
  left: 20px;
}
.item-info .item-num .plus-num {
  position: absolute;
  top: 9px;
  right: 20px;
}
.item-detail-middle .item-detail .list-inline-item li {
  width: 300px;
}
.item-detail-middle .item-detail .list-inline-item li .name {
  margin-right: 15px;
}
