.footer .footer-nav-link {
  text-align: center;
}
.footer .footer-nav-link .list-inline > li {
  border-right: 1px solid #dddddd;
}
.footer .footer-nav-link .list-inline > li:last-child {
  border-right: 0;
}
.in-line {
  display: inline;
  list-style: none;
}
.font-red {
  color: #e4393c;
}
.checkbox-radio-label {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
}
.checkbox-radio-label input[type='radio'],
.checkbox-radio-label input[type='checkbox'] {
  vertical-align: middle;
  margin: 0 6px 0 0;
}
.inner-middle {
  margin-left: 210px;
}
.list-inline-item {
  padding-left: 0;
  list-style: none;
}
.list-inline-item > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.panel-default-theme .panel-heading {
  color: #ffffff;
  background-color: #e4393c;
  border-color: #e4393c;
}
.item-num {
  position: relative;
  width: 86px;
}
.item-num .input-item-num {
  padding: 6px 26px;
}
.item-num .minux-num {
  position: absolute;
  top: 9px;
  left: 10px;
}
.item-num .plus-num {
  position: absolute;
  top: 9px;
  right: 10px;
}
.index-link {
  color: #e4393c;
  font-size: 14px;
}
.list-group-hover li:hover {
  background: #fff4d3;
}
.asterisk-require {
  color: #e4393c;
  margin-right: 5px;
}
.logo-search {
  margin-bottom: 10px;
}
.header {
  margin-top: 15px;
}
.nav-font,
.navbar-header {
  font-size: 15px;
  font-weight: 700;
}
.nav-font > li > a {
  width: 85px;
  text-align: center;
}
.navbar-header {
  width: 300px;
}
.header .cart-process {
  padding-top: 16px;
}
.header .cart-process .process-1 {
  background: url(/images/step1.png) no-repeat;
  padding-top: 26px;
}
.header .cart-process .process-1 li {
  width: 160px;
  text-align: center;
  color: #bce8a3;
}
.header .cart-process .process-1 .step1 {
  color: #7abd54;
}
.header .cart-process .process-1 .step2 {
  color: #aaaaaa;
}
.header .cart-process .process-1 .step3 {
  color: #aaaaaa;
}
.header .cart-process .process-2 {
  background: url(/images/step2.png) no-repeat;
  padding-top: 26px;
}
.header .cart-process .process-2 li {
  width: 160px;
  text-align: center;
  color: #bce8a3;
}
.header .cart-process .process-2 .step1 {
  color: #bce8a3;
}
.header .cart-process .process-2 .step2 {
  color: #7abd54;
}
.header .cart-process .process-2 .step3 {
  color: #aaaaaa;
}
.header .cart-process .process-3 {
  background: url(/images/step2.png) no-repeat;
  padding-top: 26px;
}
.header .cart-process .process-3 li {
  width: 160px;
  text-align: center;
  color: #bce8a3;
}
.header .cart-process .process-3 .step1 {
  color: #bce8a3;
}
.header .cart-process .process-3 .step2 {
  color: #bce8a3;
}
.header .cart-process .process-3 .step3 {
  color: #7abd54;
}
.topbar-height {
  min-height: 30px;
}
.topnavbar {
  background: #F7F7F7;
  border-bottom: 1px solid #eee;
  color: #999999;
}
.welcomeback,
.topinfor > ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .cart-middle .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .cart-middle .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .cart-middle .container {
    width: 1170px;
  }
}
.cart-middle .shopping-cart .cart-title .cart-checkbox {
  width: 8%;
}
.cart-middle .shopping-cart .cart-title .cart-info {
  width: 42%;
}
.cart-middle .shopping-cart .cart-title .cart-unit {
  width: 12%;
}
.cart-middle .shopping-cart .cart-title .cart-num {
  width: 12%;
}
.cart-middle .shopping-cart .cart-title .cart-price {
  width: 12%;
}
.cart-middle .shopping-cart .cart-title .cart-option {
  width: 12%;
}
.cart-middle .shopping-cart .cart-title input[type="checkbox"] {
  margin: 1px 4px 0;
}
.cart-middle .shopping-cart .cart-list {
  border: 1px solid #cccccc;
  background: #fcfcfc;
  margin-left: -1px;
  margin-bottom: 20px;
}
.cart-middle .shopping-cart .cart-list .cart-body {
  margin: 20px 0;
}
.cart-middle .shopping-cart .cart-list .cart-body li {
  vertical-align: top;
}
.cart-middle .shopping-cart .cart-list .cart-body .cart-checkbox {
  width: 8%;
}
.cart-middle .shopping-cart .cart-list .cart-body .cart-info {
  width: 42%;
}
.cart-middle .shopping-cart .cart-list .cart-body .cart-unit {
  width: 12%;
}
.cart-middle .shopping-cart .cart-list .cart-body .cart-num {
  width: 12%;
}
.cart-middle .shopping-cart .cart-list .cart-body .cart-price {
  width: 12%;
}
.cart-middle .shopping-cart .cart-list .cart-body .cart-option {
  width: 12%;
}
.cart-middle .shopping-cart .cart-list .cart-body input[type="checkbox"] {
  margin: 1px 4px 0;
}
.cart-middle .shopping-cart .cart-list .cart-body .cart-info .cart-item-img {
  border: 1px solid #cccccc;
  max-height: 80px;
  max-width: 80px;
}
.cart-middle .shopping-cart .cart-list .cart-body .cart-info .item-title {
  width: 260px;
  min-height: 40px;
  padding-left: 8px;
}
.cart-middle .shopping-cart .cart-list .cart-body .cart-price {
  color: #e4393c;
  font-size: 14px;
}
.cart-middle .shopping-cart .cart-footer {
  height: 40px;
  background-color: #fcfcfc;
}
.cart-middle .shopping-cart .cart-footer > div {
  margin-left: 40px;
  vertical-align: middle;
  line-height: 40px;
}
.cart-middle .shopping-cart .cart-footer > div .checkbox-select-all {
  font-weight: normal;
  cursor: pointer;
}
.cart-middle .shopping-cart .cart-footer > div .checkbox-select-all input[type="checkbox"] {
  vertical-align: middle;
  margin: 1px 6px 3px 0;
}
.cart-middle .shopping-cart .cart-footer .footer-middle {
  margin-left: 30px;
}
.cart-middle .shopping-cart .cart-footer .footer-middle .option {
  margin-right: 20px;
}
.cart-middle .shopping-cart .cart-footer .footer-right {
  margin-right: 18px;
}
.cart-middle .shopping-cart .cart-footer .footer-right .item {
  margin-left: 50px;
}
.cart-middle .shopping-cart .cart-footer .footer-right .item .selecte-num,
.cart-middle .shopping-cart .cart-footer .footer-right .item .total-price {
  color: #e4393c;
  font-weight: 700;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}
.cart-middle .empty-shopping-cart .empty {
  padding-left: 150px;
}
