@import "ivariables";

.in-line{
  display: inline;
}
.font-red{
  color:@font-red;
}
.topbar-height{
  min-height: @topbar-height;
}
.header-hot{
  margin-top: 2px;
  margin-left: 2px;
  padding-top: 2px;
}
.header-hotword .list-inline > li:first-child a{
  color:@font-red;
}
.header-hotword{
  color:@my-theme-default-gray;
  margin-top: 6px;
}
.logo-search{
  margin-bottom: 10px;
}

.list-inline > li > a{
  &:hover,
  &:focus {
    color: @my-theme;
    text-decoration: underline;
    cursor: auto;
  }
}
.topnavbar{
  background: #F7F7F7;
  border-bottom: 1px solid #eee;
  color: @my-theme-default-gray;
}
.header{
  margin-top: 15px;
}
.welcomeback ,.topinfor > ul > li{
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-font,.navbar-header{
  font-size: 15px;
  font-weight: 700;
}
.nav-font > li > a {
  width: 85px;
  text-align: center;
}
.navbar-header{
  width: 300px;
}

// carousel ----------------------------------------------------------------------------------------
.carousel {
  height: @carousel-default-height;
  width: @carousel-default-width;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: @carousel-default-height;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: @carousel-default-height;
}


//nav-sidebar
.nav-sidbar{
  width: @nav-sidbar-default-width;
  .nav{
    background-color: #f8f8f8;
    li{
      border-bottom: 1px dashed #FAE5E7;
      font-size: 14px;
    }
    .active > a{
      color: @my-theme;
      border-right: 1px solid @my-theme;
      font-weight: bold;
    }
  }
}
.nav-sidbar.affix{
  top: 80px;
}
.middle-content{
  margin-left: (@nav-sidbar-default-width + 10px);
}

.floor {
  .tab-content .tab-pane{
    height: 360px;
  }
  .each-floor{
    height: 360px;
    position: relative;
    .floor-title{
      position:absolute;
      .floor-sign{
        background-image: url(/images/floorBackground.png);
        width: 30px;
        height: 36px;
        background-position: -40px 0;
        color: #fff;
        padding-top: 4px;
        font-size: 16px;
        padding-left: 4px;
        font-weight: 700;
      }
    }

  }
  .nav-tabs{
    padding-left: 160px;
  }
}

