@import "variables";

.in-line{
  display: inline;
}
.font-red{
  color:@font-red;
}
.topbar-height{
  min-height: @topbar-height;
}
.header-hot{
  margin-top: 2px;
  margin-left: 2px;
  padding-top: 2px;
}
.header-hotword .list-inline > li:first-child a{
  color:@font-red;
}
.header-hotword{
  color:@default-hotword-color;
}

.list-inline > li > a{
  color:@default-hotword-color;
  &:hover,
  &:focus {
    color: @my-theme;
    text-decoration: underline;
    cursor: auto;
  }
}
.topnavbar{
  background: #F7F7F7;
  border-bottom: 1px solid #eee;
}
.header{
  margin-top: 15px;
}
.welcomeback ,.topinfor ul li{
  padding-top: 10px;
  padding-bottom: 10px;
}
