@import "component/ivariables";
@import "bootstrap/mixins";
@import "component/iutilities";
@import "component/footer";
@import "component/loginHeader";
.body{
  background-color: #f2f2f2;
}
.login{
  .container{
    margin:auto;
    padding-top: 10px;
    width:1000px;
    .login-middle,.signup-middle{
      background-color: #fff;
      margin-top: 100px;
      width: 880px;
      overflow: hidden;
      border: 1px solid @my-theme-default-gray;
      .btn{
        width: 100%;
      }
      .username-label,.passwd-label{
        position: relative;
        input{
          padding-left: 25px;
        }
        .label-icon{
          position: absolute;
          top: 15px;
          left: 22px;
        }
      }
      .clearfix();
    }
    .login-middle{
      height: 356px;
      .login-form{
        height: 360px;
        width: 439px;
        padding: 25px 10px 15px ;
        .input-fields{


          .form-group{
            margin-bottom: 25px;
          }
          margin-bottom: 60px;
        }


      }
      .login-img{
        max-height: 360px;
        height: 356px;
        width: 439px;
        background: url("/images/login.png") -50px -50px no-repeat;
      }

    }
    .signup-middle{
      height: 356px;
      .signup-form{
        width:700px;
        margin: 25px 10px 15px ;
        border-right: 1px dotted @my-theme-default-gray;
      }
      .right-info{
        margin-top: 25px;
        padding-left: 10px;
        .login-button{
          margin-top: 10px;
        }
      }
    }
  }
}