@import "ivariables";
@import "iutilities";
@import "header-navbar";
@import "cart-process";
@import "topbar";
@import "footer";

.order-middle {
  .small-container();
  .address-title{
    padding: 0 0 0 10px;
    .clearfix();
    .left-title{
      padding-top: 13px;
    }
    .add-new-address{
      button{
        border-radius: 0;
        .glyphicon{
          margin-right: 5px;
        }
      }
    }
  }
  .list-address-item{
    .address{
      width:82%;
    }
    .set2-default{
      width:8%;
      visibility:hidden;
    }
    .edit-address{
      visibility:hidden;
      width:6%;
    }
    &.active{
      background-color: @default-li-list-group-hover-bg;
      .list-address-item();
    }
  }

}
.list-address-item(){
  label{
    font-size: 14px;
    font-weight: 700;
  }
  .set2-default,.edit-address{
    visibility:visible;
  }
}
#orderAddressModel{
  .clear-padding{
    padding: 0;
  }
  input[type="checkbox"]{
    margin-top: 2px;
  }
}

