@my-theme:                        #E4393c;
@default-hotword-color:           #999;

//short cut
@topbar-height:                    30px;
@navbar-height:                    40px;


//search button
@brand-search-default:             #E4393c;

@btn-search-default-color:         #fff;
@btn-search-default-bg:            @brand-search-default;
@btn-search-default-border:        darken(@btn-search-default-bg, 5%);

@font-size-base:                   12px;

@font-red:                         @my-theme;
@navbar-default-bg:                @my-theme;
@navbar-default-link-color:        #fff;
@navbar-default-link-active-color: #fff;
@navbar-default-link-hover-color:  #fff;
@navbar-default-link-hover-bg:     darken(@navbar-default-bg, 6.5%);